/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* CSS Custom Properties, i.e, Variables */
:root {
    --primary-color: #1c93d2;
    --secondary-color: #e1e8f0;
    --tertiary-color: #f0b32a;
}


/* General Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a:link,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

button {
    border-style: none;
    padding: 10px 32px;
    cursor: pointer;
}


/* Dashboard Styles */
.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar   main";

    height: 100%;
}

.container svg {
    width: 24px;
    height: auto;
}


.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    gap: 48px;

    color: white;
    background-color: var(--primary-color);

    font-size: 20px;
    font-weight: 600;

    padding: 16px;
}

.sidebar svg {
    fill: white;
}

.sidebar-title {
    font-size: 26px;
}

.sidebar-title > svg {
    width: 46px;
}

.sidebar-title,
.sidebar-link {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 12px;
}

.sidebar-title > svg,
.sidebar-link > svg {
    justify-self: center;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.sidebar-menu,
.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.header {
    grid-area: header;

    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    gap: 8px 16px;

    font-weight: 700;
    padding: 16px 24px 0px;
    box-shadow: 4px 4px 8px rgb(200, 200, 200);
    z-index: 1;
}

.header > * {
    display: flex;
}

.head-search {
    align-items: center;
}

.head-search > label {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
}

.head-search > input[type="search"] {
    height: 28px;

    background-color: var(--secondary-color);
    font-size: 16px;
    border-style: none;
    border-radius: 16px;

    flex: 1;
}

.head-profile-small {
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    padding: 0 48px;
}

.head-profile-large {
    align-items: center;
    gap: 16px;

    padding: 0 16px;
}

.profile-name-large {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.head-action {
    align-items: center;
    gap: 24px;
    padding: 0 16px;
}

.profile-image-small,
.profile-image-large {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 50%;

    flex-shrink: 0;
}

.profile-image-large {
    width: 64px;
    height: 64px;
}

.button {
    color: white;
    background-color: var(--primary-color);
    border-radius: 24px;
    font-size: 15px;
    font-weight: inherit;
}


.main {
    grid-area: main;

    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-template-areas: 
        "projects announce"
        "projects trending";
    gap: 16px;

    background-color: var(--secondary-color);
    padding: 32px 16px;
}

.projects {
    grid-area: projects;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    padding: 12px 0;
}

.card {
    display: grid;
    grid-template: repeat(2, min-content) / 1fr;
    gap: 4px;

    height: 200px;
    background-color: white;
    border-left: 8px solid var(--tertiary-color);
    border-radius: 8px;
    padding: 32px 16px;
}

.card > p {
    color: #767676;
    font-size: 14px;
    font-weight: 500;
}

.card-footer > svg {
    fill: rgb(50, 50, 50);
}

.card-footer {
    align-self: end;
    justify-self: end;

    display: flex;
    gap: 24px;

    padding: 0 16px;
}

.announcements {
    grid-area: announce;
}

.trending {
    grid-area: trending;
}
