
/* CSS Custom Properties, i.e, Variables */
:root {
    --primary-color: #1c93d2;
    --secondary-color: #e3eaf1;
}


/* General Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}


/* Dashboard Styles */
.container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar   main";

    height: 100%;
}

.container svg {
    width: 18px;
    height: auto;
}


.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    gap: 32px;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    font-weight: 800;

    padding: 16px;
}

.sidebar svg {
    fill: var(--secondary-color);
}

.sidebar-title {
    font-size: 18px;
}

.sidebar-title > svg {
    width: 32px;
}

.sidebar-title,
.sidebar-link {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 4px;
}

.sidebar-title > svg,
.sidebar-link > svg {
    justify-self: center;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.sidebar-menu,
.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.header {
    grid-area: header;

    padding: 16px 32px;
}

.profile-image-small,
.profile-image-large {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;
}

.profile-image-large {
    width: 64px;
    height: 64px;
}


.main {
    grid-area: main;
}
